body {
  margin: 0;
  padding: 0;
  background: #e8edf2;
  font-family: 'Segoe UI', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.contenedor {
  width: 92vw;
  max-width: 380px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.12);
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #0b2545;
  margin-bottom: 5px;
  font-weight: 800;
}

.sub {
  font-size: 1rem;
  color: #475569;
  margin-bottom: 20px;
}

.estrellas span {
  font-size: 40px;
  cursor: pointer;
  color: #d1d5db;
  transition: 0.2s;
}

.estrellas span.active {
  color: #f8c200;
}

.formulario {
  margin-top: 25px;
  text-align: left;
}

label {
  font-weight: 700;
  color: #1e293b;
  font-size: 0.95rem;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 6px 0 14px 0;
  font-size: 1rem;
  border-radius: 8px;
  background: #f1f5f9;
  border: 1px solid #cbd5e1;
}

textarea {
  height: 80px;
}

button {
  width: 100%;
  padding: 12px;
  background: #0b2545;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #123a6f;
}

.mensaje {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
}
