/* ======== FONDO GENERAL ======== */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======== TARJETA ======== */
.credencial {
  width: 92vw;
  max-width: 380px;
  height: 85vh;
  background: white;
  overflow: hidden;
  border-radius: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}

/* ======== LOGO ======== */
.logo {
  width: 210px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ======== CONTENIDO ======== */
.contenido {
  border-top: 3px solid #d3a978;
  padding-top: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* ======== FOTO CENTRADA ======== */
.foto {
  width: 150px;
  height: 170px;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======== DATOS ======== */
.datos {
  width: 92%;
  text-align: center;
  margin-top: 14px;
}

.datos p {
  margin: 6px 0;
  font-size: 1.15rem;
  font-weight: 700;
  color: #1e293b;
  letter-spacing: 0.3px;
}

.datos strong {
  font-weight: 900;
  color: #002b5c;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

/* ======== FOOTER ======== */
footer {
  text-align: center;
  padding: 8px 0;
  color: #475569;
  font-size: 0.9rem;
}

footer a {
  color: #0b2545;
  text-decoration: none;
  font-weight: bold;
}
